
.navbar{
    display: flex;
    background-color: black;
    color:white;
    padding:1px 0px;
}
h1{
    margin-left: 500px;
}
.all{
    margin-left: 300px;
}
button{
    cursor: pointer;
    height: 50px;
    width: 200px;
    margin-top: 40px;
    margin-left: 600px;
    border-radius: 5px;
}
button:hover{
    background-color: #FF7373;
    border:1px solid aqua;
}
.card{
    border:1px solid black;
    height: 200px;
    width:1000px;
    text-align: center;
    margin-left: 250px;
    margin-top: 150px;
    border-radius: 10px;
}
.card:hover{
    background-color:aqua;
    color: #FF7373;
}
a{
    color:white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
/* #displayQuote > div{
    background-color: blue;
    color: white;
    padding: 60px;
    margin: 10px;
} */
























/* // let random = document.querySelector(".random");

// async function Random(){
//     const response = await fetch(`https://api.quotable.io/random`);
//     const jsonData = await response.json()
//     console.log(jsonData);
// //}

// let displayQuote = document.querySelector(".displayQuote");
// let quotes = response;
//  if(quotes !== 0){
//     for(let i=0; i<quotes.length; i++){
//             let div = document.createElement("div");
//             div.setAttribute("class", "card");

//             let content = document.createElement("div");
//             content.innerText = quotes[i].content;

//             let author = document.createElement("p");
//             author.innerText = quotes[i].author;

//             div.append(content,author);
//             displayQuote.append(div);
//     }
//  }
// } */